.navbar {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  display: flex;
  flex-direction: column;
}

.appTitle {
  font-size: 1.25rem;
  font-weight: 900;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
  height: 40px;
}

.main {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  min-height: 100vh;
}
