/* @import "tailwindcss";

@theme {
  --color-on-primary-fixed: #001f24;
  --color-surface-container-highest: #31353c;
  --color-on-background: #dfe2eb;
  --color-on-secondary-fixed-variant: #454749;
  --color-primary-fixed: #9cf0ff;
  --color-on-primary-container: #002f35;
  --color-on-primary-fixed-variant: #004f58;
  --color-inverse-surface: #dfe2eb;
  --color-surface-dim: #10141a;
  --color-on-tertiary: #2f3035;
  --color-surface-container-low: #181c22;
  --color-on-tertiary-fixed: #1a1c20;
  --color-secondary-fixed-dim: #c6c6c9;
  --color-on-error-container: #ffdad6;
  --color-on-surface-variant: #c1c6d7;
  --color-surface-tint: #00daf3;
  --color-on-primary: #00363d;
  --color-background: #10141a;
  --color-surface-container-lowest: #0a0e14;
  --color-on-secondary: #2f3133;
  --color-surface-container: #1c2026;
  --color-primary-container: #009fb2;
  --color-primary-fixed-dim: #00daf3;
  --color-outline-variant: #414755;
  --color-surface: #10141a;
  --color-surface-variant: #31353c;
  --color-inverse-primary: #006875;
  --color-secondary: #c6c6c9;
  --color-surface-container-high: #262a31;
  --color-tertiary-container: #8f9096;
  --color-error-container: #93000a;
  --color-on-error: #690005;
  --color-on-surface: #dfe2eb;
  --color-outline: #8b90a0;
  --color-on-tertiary-container: #282a2e;
  --color-inverse-on-surface: #2d3137;
  --color-on-secondary-container: #b4b5b7;
  --color-secondary-container: #454749;
  --color-surface-bright: #353940;
  --color-on-tertiary-fixed-variant: #45474b;
  --color-on-secondary-fixed: #1a1c1e;
  --color-tertiary-fixed-dim: #c6c6cc;
  --color-error: #ffb4ab;
  --color-tertiary: #c6c6cc;
  --color-secondary-fixed: #e2e2e5;
  --color-primary: #00daf3;
  --color-tertiary-fixed: #e2e2e8;
  
  --font-headline: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;

  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
} */
